<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Blog Writer</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

    <div class="container custom-container">
        <div class="row justify-content-center">
            <div class="col-md-6">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
