{% extends "base.html" %}

{% block content %}
<div class="container mt-5"> <!-- Increase margin-top if needed -->
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-12"> <!-- Adjusted for wider width -->
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h1 class="card-title text-center">AI Blog Writer</h1>
                    <form id="promptForm" action="/generate" method="post">
                        <div class="form-group">
                        <label for="topic">Blog Topic:</label>
                        <input type="text" class="form-control" id="topic" name="topic" required>
                        </div>
                        <div class="form-group">
                        <label for="tone">Desired Tone:</label>
                        <select class="form-control" id="tone" name="tone">
                            <option value="informative">Informative</option>
                            <option value="casual">Casual</option>
                            <option value="persuasive">Persuasive</option>
                            <option value="formal">Formal</option>
                            <option value="humorous">Humorous</option>
                        </select>
                        </div>
                        <div class="form-group">
                        <label for="length">Length:</label>
                        <input type="number" class="form-control" id="length" name="length" required max="500" min="100">
                        </div>
                        <div class="form-group">
                        <label for="instructions">Specific Instructions:</label>
                        <textarea class="form-control" id="instructions" name="instructions" rows="3"></textarea>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success">
                                Generate Blog Post
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
